source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget FSharp.Core

nuget JaggerJo.Avalonia.FuncUI        strategy:min
nuget JaggerJo.Avalonia.FuncUI.DSL    strategy:min
nuget JaggerJo.Avalonia.FuncUI.Elmish strategy:min
